a(href="/") List of rooms

h2 Welcome to the {{room.name}} chat room

.col
    h3  Messages
    .owerflowable
        p (ng-repeat="messages in room.messages")
            {{messages.user}}: {{message.text}}


    form (ng-submit="sendMessage()")
        input (ng-model="message", placeholder="Y U NO type message")
        input (type="submit", value="send")



.col
    h3 Users
    .owerflowable
        p (ng-repeat="user in room.users")
            {{user}} 