extends layout
//- The index site for the chatserver, just using waht boostrap provides,
//- because i dont know shit about .css :P
block body
    .container(ng-controller="AppCtrl")
        .row-fluid
            .span10
                h3 Messages
                    .well.message-spot
                        p(ng-repeat="mesagge in messages", ng-class="message.me",
                            class="") {{message.user}}: {{message.text}}


                .navbar.navbar-inverse.navbar-fixed-bottom.bar-submit-message
                    .navbar-inner
                    .container
                        form(ng-submit="sendMessage()", class="well form-search form-send-message")
                            input(ng-model="message", class="span9 input-message", placeholder="Y U No Chat?")
                            input(type="submit", value="send", class="btn btn-succes")

                .span2
                    h3 Users
                        .well
                            ul.nav.nav-list
                                li(ng-repeat="user in chatroomUsers") {{user}}
                                    



  