extends layout

block body
  div(ng-controller='AppCtrl')
    tabs
        pane(heading='Chat')
          h3 Welcome {{name}}!
        pane(ng-repeat='channel in channels', heading='{{channel.name}}', active='channel.active')
          h3 {{channel.name}}
            button(class='btn', ng-click="closeRoom([$index])")
              i(class='icon-remove')
              | Close
          div
            ul
              li(ng-repeat='message in channel.messages') [{{message.time | date:"H:mm:ss"}}] <{{message.user}}> {{message.text}}
          form(class='form-horizontal')
            //style='width: 100%; box-sizing: border-box; height: 28px; '
            input(type="text", ng-model="channels[$index].postText")
            button(class="btn", ng-click="sendMessage([$index])")
              i(class="icon-plus")
              | Send


  script(src='js/lib/angular/angular.js')
  script(src='/socket.io/socket.io.js')
  script(src='js/app.js')
  script(src='js/services.js')
  script(src='js/controllers.js')
  script(src='js/filters.js')
  script(src='js/directives.js')
  script(src='js/ui-bootstrap-tpls-0.2.0.min.js')
