extends layout

block body

    h3 Welcome to ChattyTheChatRoom plese provide us a username

    form(ng-submit="validatUser()", class="form-horizontal")
        label(class="control-label", for="signUpUser") Username
        .controls
            input(ng-model="user", class="input-large", placeholder="You need to type in a username")
            input(type="submit", value="SignIn", class="btn") Sign in